[submodule "spdk"]
	path = src/spdk
	url = https://github.com/AirMettle/spdk-csd
	branch = airmettle
[submodule "qemu"]
	path = src/qemu
	url = https://github.com/AirMettle/qemu-csd
	branch = airmettle
